{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="page-header mt-3">
            <h3>Top Business News Sources</h3>
        </div>
        <hr>
        <div class="row">
            {% for source in business_sources.sources %}
                <div class="col-md-3">
                    <div class="card" style="width: 16rem;">
                        <div class="card-header">
                            {{ source.name }}
                        </div>
                        <div class="card-body">
                            <p class="card-text">{{ source.description|truncatechars:95 }}</p>
                            <a href="#" class="btn btn-outline-success btn-sm">Visit {{ source.name }}</a>
                        </div>
                    </div>
                    <br>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}